# OS & Editor
.vscode/
.DS_Store

# Environment files
.env
**/.env
.env.*
!.env.example

# Dependencies
node_modules/
**/node_modules/
jspm_packages/

# Build output
dist/
build/
out

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output
lib-cov

# Grunt
.grunt

# Bower
bower_components

# node-waf
.lock-wscript

# Compiled addons
build/Release

# Snowpack
web_modules/

# TypeScript
*.tsbuildinfo

# npm cache
.npm

# eslint cache
.eslintcache

# stylelint cache
.stylelintcache

# REPL history
.node_repl_history

# npm pack
*.tgz

# Yarn Integrity
.yarn-integrity

# parcel
.cache
.parcel-cache

# Next.js
.next

# Nuxt.js
.nuxt

# Gatsby
.cache/

# vuepress
.vuepress/dist
.temp

# Sveltekit
.svelte-kit/

# vitepress
**/.vitepress/dist
**/.vitepress/cache

# Docusaurus
.docusaurus

# Serverless
.serverless/

# FuseBox
.fusebox/

# DynamoDB
.dynamodb/

# Firebase
.firebase/

# TernJS
.tern-port

# VSCode test
.vscode-test

# yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Vite
.vite/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*